<!DOCTYPE html ng-app="NodeNgApp">
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-controller="IndexController">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <h1>{{fromController}}</h1>
  </body>
    <script src="/app.js"></script>
    <script src="/IndexController.js"></script>
</html>
